*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

header{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  background: #888;
}

header img{
  height: 6vh;
}

ul{

  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;

  margin: auto;

}

ul li a{
  margin-left: 23px;

}

.main{
  background: #d35757;
  height: 92vh;
  width: 25vw;

  position: absolute;
  top: 8vh;
}

.slide{
  display: flex;
  position: absolute;

  bottom: 1px;

  align-items: center;
  justify-content: center;



}
.slide img{
  width: 15vw;
  height: 15vh;
  margin-left: 2%;
  border-radius: 50px 0 50px;
}

.modelo-3d{
  background-color: #3d6bb1;
  width: 50vw;
  height: 92vh;
  position: absolute;
  top: 8vh;
  left: 25vw;
}
.modelo-3d img{
  width: 100%;
  height: 100%;
}

.specs{
  background: #64c22e;
  width: 25vw;
  height: 92vh;
  position: absolute;
  top: 8vh;
  left: 75vw;
}

.specs video{
  width: 200px;
}


/* RESPONSIVIDADE */


@media (max-width:480px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .main{
    position: relative;
    width: 100%;
  }
  .modelo-3d{
    position: relative;
  }
  .specs{
    position: relative;
  }

}